template
  #app.container(ref='appContainer')
    #menu.layer(ref='menuLayer')
      .p.flex
        label Class Prevalente
        select(v-model='primaryValue' @change='setPrimary')
          option(v-for='x in availableValues' v-bind:value='x.id') {{x.label}}

      .p.flex
        label Class Second Call
        select(v-model='secondaryValue' @change='setSecondary')
          option(v-for='x in availableValues' v-bind:value='x.id') {{x.label}}

      .p.c
        label: input(type='radio' name='feature' @change='setFeature(-1)' checked)
        label(v-for='x, k in availableFeatures'): input(type='radio' name='feature' @change='setFeature(k)')

      .p.cf
        small.fr Cluster {{offset + 1}} from {{count}}.
        //- FIXME: toggle between SEND / PREV+NEXT depending on answers
        button(@click='doPrev') &langle; Previous cluster
        button(@click='doNext') Next cluster &rangle;

      details.p
        summary
          small SEE MAP / INFO
        .sm-flex
          img.fit(v-bind:src='referenceImage')
    #map.layer(ref='mapLayer')

script.
  import { DEFAULT_VALUES, DEFAULT_STYLES, featureFor, centroidFor, styleFor, latLng, getJSON } from './_utils.js';

  export default {
    data() {
      // FIXME: collect state for the current cluster as a matrix,
      // where each feature has its own answers...

      return {
        data: [],
        count: 0,
        offset: -1,
        username: null,
        primaryValue: null,
        secondaryValue: null,
        referenceImage: null,
        availableValues: Object.keys(DEFAULT_VALUES).map(x => ({
          label: DEFAULT_VALUES[x],
          value: x,
        })),
      };
    },
    computed: {
      availableFeatures() {
        return this.data[this.offset]
          ? this.data[this.offset].features
          : [];
      },
    },
    methods: {
      setFeature(offset) {
        this.$vectorSource.getFeatures().forEach((feature, key) => {
          if (offset === -1 || offset === key) {
            feature.setStyle(DEFAULT_STYLES.on);
          } else {
            feature.setStyle(DEFAULT_STYLES.off);
          }
        });
      },
      setPrimary() {
        console.log('setPrimary');
      },
      setSecondary() {
        console.log('setSecondary');
      },
      doPrev() {
        if (this.offset > 0) {
          this.offset = this.offset - 1;
        } else {
          this.offset = this.count - 1;
        }

        this.loadCluster();
      },
      doAnswer() {
        console.log('doAnswer');
      },
      doNext() {
        if (this.offset < this.count - 1) {
          this.offset = this.offset + 1;
        } else {
          this.offset = 0;
        }

        this.loadCluster();
      },
      centerFeatures(features) {
        const center = centroidFor(features);

        this.$mapSource.getView().setCenter(latLng(center));

        // FIXME: gmaps is not working fine with lat/lon values
        const latLon = center.join(',');
        const url = `https://static-maps.yandex.ru/1.x/?lang=en-US&ll=${latLon}&z=5&l=map&size=600,300&pt=${latLon},vkbkm`;

        this.referenceImage = url;
      },
      loadFeature(result) {
        this.$vectorSource.clear();

        result.features.forEach(feature => {
          this.$vectorSource.addFeatures(featureFor(feature));
        });

        this.centerFeatures(result.features);
      },
      loadCluster() {
        this.$refs.appContainer.classList.add('blocked');

        const featureIds = this.availableFeatures.map(f => f.geoserver_id).join(',');

        return getJSON(`/layers?user=${this.username}&features=${featureIds}`)
          .then(x => this.loadFeature(x))
          .then(() => {
            this.$refs.appContainer.classList.remove('blocked');
          });
      },
    },
    mounted() {
      // mount OL3 canvas
      const mapLayer = new ol.layer.Tile();

      this.$mapSource = new ol.Map({
        interactions: ol.interaction.defaults({
          mouseWheelZoom: false,
        }),
        controls: [
          new ol.control.ZoomSlider(),
        ],
        layers: [mapLayer],
        target: this.$refs.mapLayer,
        view: new ol.View({
          center: latLng([-99.133209, 19.432608]),
          zoom: 16,
          minZoom: 5,
        }),
      });

      // TODO: change this dinamically!
      mapLayer.setSource(new ol.source.OSM());

      // mount vectors' canvas
      this.$vectorSource = new ol.source.Vector();

      const vectorLayer = new ol.layer.Vector({
        source: this.$vectorSource,
        style: styleFor,
      });

      this.$mapSource.addLayer(vectorLayer);
    },
  };
